body{
    margin : 0;
    background-color:blanchedalmond;
    font-family:Arial, Helvetica, sans-serif;

}

.container{
    display : flex; /*membuat konten flexible untuk di atur ketengah*/
    flex-direction:column; /*untuk mengatur ketika flex konten nya bisa berbaris kebawah */
    min-height: 100vh; /*untuk mengatur ketinggian konten*/
    justify-content : center; /*menegahkan konten secara horizontal*/
    align-items: center; /*menegahkan konten secara vertikal*/
    box-sizing:border-box;
}

#form-container{
    background-color:greenyellow;
    width:430px;
    border-radius:10px;
    padding:40px 30px;;
}

.container h1{
    font-size:36;
    text-align:center;
}

.input-box{
    width:100%;
    margin:20px 0;
}

.input-box input{
    width:100%;
    box-sizing:border-box;
    height:50px;
    background-color:transparent;
    border:none;
    outline:none;
    border:2px solid black;
    border-radius:15px;
    font-size:20px;
    padding:20px 45px 20px 20px;
}

.input-box input::placeholder{
    color:red
}

.bawah {
    display:flex;
    flex-direction:column;
    text-align:center;
}

.bawah a{
    color: red;
    text-decoration:none;
}

.bawah a:hover{
    text-decoration: underline;
}

.bawah .btn{
    border:none;
    outline :none;
    border:2px solid red;
    border-radius :15px;
    height:40px;
    cursor:pointer;
    font-size:20px;
    font-weight:20;
}

.bawah .btn:hover{
    background:purple;
    color:white;
}

.bawah-text p, a{
    color:black;
    text-decoration:none;
    font-size:16px;
}

.bawah-text a:hover{
    color:blueviolet;
    text-decoration:underline;
}

/*dimulai untuk register*/
.btn2{
    text-align: center;
}

.btn2 button{
    width:100%;
    height:40px;
    border:none;
    outline:none;
    border:2px solid wheat;
    border-radius:5px;
    font-weight: bolder;
    font-size: medium;

}

.btn2 button:hover{
    cursor : pointer;
    background-color: azure;
}

/*index halaman utama */
header{
    display:flex;
    justify-content:space-between;
    background-color:chartreuse;
    font-size:1.5em;
    font-weight:bold;
    z-index:1000;
    position:fixed;
    width:100%;
}

.simbol{
    padding-top:20px ;
    padding-left:20px;
}

ul{
    display:flex;
    gap:20px;
    margin-right: 50px;
    
}

ul li{
    list-style:none;
}

ul li:hover{
    background-color:blue;
}


/*main sesi*/
main{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    height:100vh;
    box-sizing:border-box;
}

main h1{
    padding-top:50px;
    font-size:40px;
    margin-bottom:50px;
}

main p{
    margin-top:0;
    width:60%;
    font-size:20px;
    margin-bottom: 40px;
}

main a{
    border:2px;
    margin:10px;
    border:2px solid black;
    padding:15px 15px;
    border-radius:10px;
    color:blue;
    font-weight:10px;

}

main a:hover{
    background-color:aqua;
    color:black;
}

#about{
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align:center;
    height:100vh;
    background-color:aqua;
}
.kenal{
    margin-bottom:50px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
}

#about h1{
    padding-top:50px;
    font-size:xx-large;
}

#about #coba{
    font-size:20px;
    font-weight:400;
    justify-content:center;
    width:70%;
}



.card{
    display:flex;
    justify-content:space-evenly;
    gap:2px;
}

.card .about-card{
    width:400px;
    height:300px;
    background:aqua;
    text-align:center;
    border:5px solid black;
}

.card p{
    font-size:18px;
}

#service{
    display:flex;
    flex-direction:column;
    height: 100vh;
    justify-content: center;
    text-align:center;
}

#service .kenal{
    margin-bottom:50px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
}

#service h1{
    padding-top:50px;
    font-size:xx-large;
}
#service #coba{
    font-size:20px;
    font-weight:400;
    justify-content:center;
    width:70%;
}

#service.card{
    display:flex;
    justify-content:space-evenly;
    gap:2px;
}

#service .card .about-card{
    width:400px;
    height:300px;
    background:aqua;
    text-align:center;
    border:5px solid black;
}

#service .card p{
    font-size:18px;
}


#portfolio{
    display:flex;
    flex-direction:column;
    height: 100vh;
    background-color:aqua;
    justify-content: center;
    text-align:center;
}

#portfolio h1{
    padding-top:50px;
    font-size:xx-large;
}

.card .about-card{
    width:400px;
    height:300px;
    background:blanchedalmond;
    text-align:center;
    border:5px solid black;
}
